@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=WindSong:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.bold {
    font-weight: 600;
}

.bgYellow {
    background-color: #F3C827;
}

.hero {
    height: 100vh;
}

.bouton {
    background-color: #F66909;
    border-radius: 4px;
    padding: 10px;
    color: white;
    display: inline-block;
    margin-top: 15px;
}

.hero h2 {
    font-family: "WindSong", cursive;
    font-size: 128px;
    font-weight: 500;
    color: #593E26;
}

h1 {
    font-size: 32px;
    color: #593E26;
}

.container {
    /*background-color: red;*/
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

/* les marges */
.largeur30 {
    width: 30%;
}
.largeur45 {
    width: 45%;
}
.largeur60 {
    width: 60%;
}
.largeur100 {
    width: 100%;
}
.padingTopBot {
    padding: 50px 0px;
}
.marginBot {
    margin-bottom: 30px;
}

.card {
    padding: 16px;
}
.responsive {
    display: block;
    width: 100%;
}

.spaceBetween{
    justify-content: space-between;
}


h3 {
    color: #593E26;
    font-size: 32px;
}

address {
    font-style: normal;
}

.textBrown {
    color: #1E150C;
}

header {
    /*background-color: aquamarine;*/
    padding: 5px 15px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

/* HEADE */

.alignCenter {
    align-items: center;
}

.panier {
    color: #F3C827;
    font-size: 30px;
}

.navHeader {
    /*background-color: blueviolet;*/
    width: 50%;
}

.size24 {
    font-size: 24px;
}
.fontClient {
    font-family: "Inter", serif;
    font-weight: 800;
}